.DS_Store
resources/.DS_Store
pom.xml
*jar
/lib/
/classes/
/out/
/release/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-env
node_modules/
\#*
\.#*
*~
.nrepl-port
profiles.clj
resources/js/.nrepl-history
out-adv/slug_fest.min.js